body{
	background-size: cover;
	background-image: url(http://justgoods.info/wp-content/uploads/2016/04/Top-10-best-Simple-Awesome-Background-Images-for-Your-Website-or-Blog2.jpg);
}

p{
	font-family: sans-serif;
	text-align: center;
	color: #0732a2;
	font-size: 12px;
	font-weight: bold;
}

.powerby{	
	font-size: 20px;
}

#sqr{
	width: 100%;
	height: auto;
}

#ocm{
	width: 100%;
	height: auto; 
}

.container{
	margin-top: 75px;
	background-size: cover;
	background-color: white;
}

#map {
	width: 100%;
	height: 400px;
	min-width: 300px;
	min-height: 300px;
	background-color: grey;
}

h1{
	width:100%;
	text-align: center;
	color: #0732a2;
	font-size: 42px;
	font-weight: bold;
	font-family: sans-serif;
}

h3{
	text-align: center;
	font-family: sans-serif;
	text-align: center;
}

#map{
	border-height: 10px; 
}

#mapSideBar{
	font-size: 20px;
	border-width: 10px;
	border:solid;
	height: 230px;
	width: 50%;
	min-height: 200px;
	background: rgba(255,255,255,0.95);
	
}

.myScrollspy{
	width: 100%
}

.btn-outline-success{
	margin-left: 260px;
	background: yellowgreen;
	padding: 15px;
}

#refreshPage{
	background: yellowgreen;
	color: black;
}

#station_submit{
	background: yellowgreen;
	color: black;
}

#latLongNominalInput{
	width: 30%;
}

.power {
	background-color: white;
	width: 200px;
    position: fixed;
    z-index: 1;
    top: 75px;
    left: 20px;
    overflow-x: hidden;
}