body{
	background-size: cover;
	background-image: url(http://moziru.com/images/ground-clipart-road-background-13.jpg);
}

.container{
	margin-top: 75px;
	background-size: cover;
	background-image: url(http://www.earthtimes.org/newsimage/wireless_car_charging_2011.jpg);
}

#map {
	width: 100%;
	height: 400px;
	min-width: 300px;
	min-height: 300px;
	background-color: grey;
}

h1{
	width:100%;
	text-align: center;
	color: yellowgreen;
	font-size: 42px;
	font-weight: bold;
	font-family: sans-serif;
}

h4{
	font-size: 14px;
	font-weight: normal;;
	font-family: sans-serif;
	text-align: center;
}

#mapSideBar{
	font-size: 26px;
	border-width: 10px;
	border:solid;
	height: 400px;
	min-width: 300px;
	min-height: 300px;
	background: rgba(255,255,255,0.95);
	
}

.myScrollspy{
	width: 100%
}

.btn-outline-success{
	margin-left: 260px;
	background: yellowgreen;
	padding: 15px;
}


